.content {
    width: 100%;
    max-width: 522px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.list {
    width: 100%;
    max-width: 944px;
    margin: 48px auto 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 16px;             
}
