.content {
    width: 100%;
    max-width: 522px;   
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.list {
    width: 100%;
    max-width: 1040px;
    margin: 120px auto 0;
    display: flex;
    gap: 16px;          
    align-items: center;
    justify-content: center;
}